WebUIMediatombRussian/icons/Thumbs.db
WebUIMediatombRussian/icons/nanotree/images/Thumbs.db
WebUIMediatombRussianDarkTheme/icons/nanotree/images/Thumbs.db
WebUIMediatombRussianDarkTheme/icons/Thumbs.db  
MediaTombWebUIRussian/screenshots/
